{
    "jid": "1234567@chat.codingame.com",
    "password": "password",
    "host": "chat.codingame.com",
    "port": 5222,
    "muc": "conference.codingame.com",
    "groupchats": ["welcome", "testworld"]
}